
.body-forgot-mdp
{
    background-color: var(--second-bg-darkMode);
    color: var(--white);
}

.bg-info
{
    background-color: var(--bg-darkMode);
    width: 50%;
    /* height: 50rem; */
    /* height: 100rem; */
    /* padding-left: 10rem; */
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.container-mdp
{
    display: flex;
    justify-content: space-between;
}

.text-info-forgot-mdp
{
    text-align: center;
}

